<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/"><i class="fas fa-home"></i>  My Blog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/blogAdd"> Blog Add</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/blogList"> Blog List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/blogEdit">Blog Edit</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/blogDelete"> Blog Delete</a>
      </li>
    </ul>
	</div>
</nav>
